{{#each messages}}
  <div class="col-8">
        <span class="userEmail fw-bold">{{mail}} :</span>
        <span class="userMessage text-success">{{body}}</span>
  </div>
  <div class="col-4">
      <p>[{{timestamp}}] </p>
  </div>
{{/each}}